NETWORK=regtest
RPC_HOST=127.0.0.1
RPC_USER=*****
RPC_PASSWORD=*****
RPC_PORT=18443

# Windows: add your full bitcoin-cli.exe path "C:/path/to/bitcoin-cli.exe"
# e.g. BITCOIN_CLI_PATH=/mnt/c/home/user/bitcoin-cli.exe
BITCOIN_CLI_PATH=