NETWORK=regtest
RPC_HOST=127.0.0.1
RPC_USER=*****
RPC_PASSWORD=*****
RPC_PORT=18443

# Uncomment and set the path if bitcoin-cli is not in your system PATH, mainly for Windows users
# i.e: BITCOIN_CLI_PATH=/path/to/bitcoin-cli.exe
# BITCOIN_CLI_PATH=